      <footer class="bg-lightblue">
        <div class="container-fluid text-light">
          <div class="center">
            <div class="">
              <ul class="list-unstyled">
                <li><a class="link-light" href="https://github.com/jiriVFX" target="_blank"><span class="fab fa-github"></span></a></li>
                <li><a class="link-light" href="https://twitter.com/jiriVFX" target="_blank"><span class="fab fa-twitter"></span></a></li>
                <li><a class="link-light" href="https://www.linkedin.com/in/jiri-novy-vfx/" target="_blank"><span class="fab fa-linkedin-in"></span></li></a>
                <li><a class="link-light" href="https://www.instagram.com/jirivfx/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                <li><a class="link-light" href="https://500px.com/jirivfx" target="_blank"><span class="fab fa-500px"></span></li></a>
                <li><a class="link-light" href="https://www.youtube.com/channel/UCFOVnO-D9CeAm3GJqP5m6qg" target="_blank"><span class="fab fa-youtube"></span></a></li>
                <li><a class="link-light" href="https://www.youtube.com/channel/UC_iU7Cpjc-AVwtISCN8fyZg" target="_blank"><span class="fab fa-youtube"></span></a></li>
                <li><a class="link-light" href="https://vimeo.com/jiriVFX" target="_blank"><span class="fab fa-vimeo-v"></span></a></li>
              </ul>
            </div>
          </div>

          <div class="col-12">
            <small class="d-block mb-3 text-center text-light">&copy; 2021 Jiri Novy</small>
          </div>
        </div>
      </footer>