      {% import "bootstrap/wtf.html" as wtf %}
      <main>
        <!-- Intro Section -->
        <section id="cafes" class="bg-lightgrey">
          <div class="container-fluid text-left">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <h1>To do list</h1>
                <p class="text-secondary">Add tasks to to-do list.</p>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="flash">
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

                {{ wtf.quick_form(form, action=url_for("add"), novalidate=False, method="post", button_map={"add": "primary"}) }}
              </div>
            </div>
          </div>
          <!-- All Tasks -->
          {% if tasks %}
          <div class="container-fluid text-left">
            {% for task in tasks.items %}
            <div class="row">
              <div class="col-lg-8 col-md-12">
                <h2>{{ task.task_name }}</h2>
                <ul class="list-inline">
                  <li class="list-inline-item"><span class="far fa-clipboard"></span> {{ task.description }}</li><br />
                  <li class="list-inline-item"><span class="far fa-clock"></span> {{ task.finish_by }}</li>
                  {% if task.finished %}
                  <li class="list-inline-item text-blue"><span class="far fa-check-circle"></span> Completed</li>
                  {% else %}
                  <li class="list-inline-item text-danger"><span class="far fa-times-circle"></span> Waiting</li>
                  {% endif %}
                </ul>
              </div>
              <div class="col-lg-4 col-md-12">
                {% if not task.finished %}
                <a class="btn" href="{{ url_for('complete', todo_id=task.id) }}" role="button">Complete <span class="far fa-check-circle"></span></a>
                {% endif %}
                <a class="btn danger" href="{{ url_for('remove', todo_id=task.id) }}" role="button">Delete</a>
              </div>
            </div>
            <hr />
            {% endfor %}
            {% for page in tasks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page %}
                {% if tasks.page == page %}
                  <a id="active" class="btn" href="{{ url_for('home', page=page) }}" role="button">{{ page }}</a>
                {% else %}
                  <a class="btn" href="{{ url_for('home', page=page) }}" role="button">{{ page }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </section>
      </main>